@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@700&display=swap");
/* font-family: "Roboto", sans-serif;
font-family: "Sansita Swashed", cursive; */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

i {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
.select-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c4c4c48a;
  height: 100vh;
}

.container {
  background-color: rgb(63, 63, 63);
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#site-title {
  font-family: "Sansita Swashed", cursive;
  margin-bottom: 20px;
  color: aliceblue;
}

#site-sub-title {
  margin-bottom: 10px;
  color: aliceblue;
}

#url_input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: block;
  margin-bottom: 5px;
  color: aliceblue;
}

input[type="submit"] {
  padding: 10px;
  font-weight: 700;
  width: 200px;
  cursor: pointer;
}

form {
  margin-bottom: 20px;
}

footer p {
  color: aliceblue;
}

a {
  color: aliceblue;
}

#example-title {
  margin-bottom: 10px;
}

#example {
  text-align: left;
  /* width: 80%; */
  background: rgba(255, 250, 205, 0.76);
  color: black;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#example ul {
  margin-left: 20px;
}

#example ul li {
  margin: 10px;
}
/* 
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
ol {
  list-style-position: inside;
}
ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type="text"] {
  width: 220px;
  text-align: center;
} */
